.App {
  background-color: #f8c102;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kaikkiPiletit {
  font-size: calc(20px);
  text-align: center;
  color: black;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}

.ekat {
  text-align: center;
  color: black;
  font-size: calc(20px + 2vmin);
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}

.kaikki {
  text-align: center;
  color: black;
  font-size: calc(12px + 2vmin);
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
}

.yksiTapahtuma, .yksiTapahtumaKaikki {
  border: solid 2px black;
}

.title, 
.pvm {
  border-right: solid 1px  black;
  padding-right: 10px;
  padding-left: 10px;
}

.klo {
  padding-right: 10px;
  padding-left: 10px;
}

.price,
.category,
.district,
.info {
  border-right: solid 1px black;
  font-size: calc(3px + 2vmin);
  padding-right: 10px;
  padding-left: 10px;
}

.contact {
  font-size: calc(3px + 2vmin);
  padding-right: 10px;
  padding-left: 10px;
}

.apinNimi {
  font-family: 'Carter One', cursive;
  font-size: calc(30px + 2vmin);
  color: #f80002;
  text-shadow: 4px 4px black;
  text-align: center;
}

.apinNimiPieni {
  font-family: 'Carter One', cursive;
  font-size: calc(20px + 2vmin);
  color: #f80002;
  text-shadow: 4px 4px black;
  text-align: left;
}

.uusiPiletti {
  padding-top: 10px;
}

/* LINKIT */

.etusivulinkki, 
.uusilinkki,
.kaikkilinkki,
.paivityslinkki {
  font-family: 'Carter One', cursive;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  border: solid 2 px black;
}

/*kaikista linkeistä alleviivaus pois*/
nav a {
  text-decoration: none;
 }

/* UUSI PILETTI */ 

.upiletti {
    padding: remy(32px);
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: remy(380px);
    border: solid 2 px black;
 }

label {
  font-family: 'Carter One', cursive;
  color: black;
  font-size: .80rem;
  touch-action: manipulation;
  width: 130%;
 }

input {
 width: 130%;
 font-size: 1rem;
}

select {
  width: 45%
}

/* EI TOIMI */
.tallennusnappi {
  text-align: center;
}

.filtteri {
  font-size: .80rem;
}

.filtterit {
  margin-left: 40px;
  width: 30%
}

/* DELETOINTI */

.deletointi {
  font-family: 'Carter One', cursive;
  color: black;
  font-size: .80rem;
}

.inputti {
  width: 30%;
  margin: 8px 0px 8px 26px;
}

.pilettihaku {
  width: 20%;
}